<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1">

    <groups>
        <run>
            <include name="Regression"></include>
        </run>
    </groups>

    <listeners>
        <listener class-name="com.demo.nopcommerce.listeners.Listeners"></listener>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
        <listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
    </listeners>

    <test name="Login Test">
        <classes>
            <class name="com.demo.nopcommerce.testsuite.LoginTest"></class>
        </classes>
    </test>

    <test name="Register Test">
        <classes>
            <class name="com.demo.nopcommerce.testsuite.RegisterTest"></class>
        </classes>
    </test>

</suite>